@model IEnumerable<DTO.Material>

@{
    ViewBag.Title = "All Materials";
}

<h2>All Materials</h2>

<p>
    @Html.ActionLink("Create a new material", "AddMaterial")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMaterial", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsMaterial", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteMaterial", new { id=item.Id })
        </td>
    </tr>
}

</table>
